/* Estilizações gerais */
@font-face {
  font-family: Chivo;
  src: url("../fonts/Chivo-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chivo";
}
::selection {
  background-color: #5876ff;
  color: #fff;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button,
input {
  border: 0;
  font-family: "Chivo";
}
button:focus,
input:focus {
  border: 0;
}
body {
  font-family: "Chivo";
  background-color: #fff;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  background-color: #5876ff;
  border-radius: 8px;
}
.progressivewriting:after {
  content: "|";
  margin-left: 8px;
  opacity: 1;
  animation: blink 1s infinite;
  color: #5876ff;
}
@keyframes blink {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.grid-layout {
  max-width: 1140px;
  margin: 0 auto;
}

/* Cabeçalho de navegação */
header {
  padding: 0px 50px;
  background: #111;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-bottom: 1px solid #101013;
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 992px) {
  header {
    padding: 0px 24px;
  }
}
header .grid-layout nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  padding: 0px 8px;
}
header .grid-layout nav img {
  width: 150px;
}
header .grid-layout nav .nav-list {
  list-style: none;
  display: flex;
}
header .grid-layout nav .nav-list li {
  margin-left: 48px;
}
@media screen and (max-width: 992px) {
  header .grid-layout nav .nav-list li {
    margin-left: 0px;
  }
}
header .grid-layout nav .nav-list li a {
  color: #9ca3af;
  position: relative;
  font-size: 1.8rem;
}
header .grid-layout nav .nav-list li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -7px;
  left: 0;
  background: linear-gradient(270deg, #5876ff 0%, #17161d 100%);
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
header .grid-layout nav .nav-list li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .grid-layout nav .nav-list li a:hover {
  color: #fff;
}
.nav-name {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  transition: color 0.3s ease;
}
.nav-name:hover {
  color: #5876ff;
}

/* Menu mobile */
.mobile-menu {
  display: none;
}
.mobile-menu div {
  width: 32px;
  height: 1px;
  background-color: #fff;
  margin: 8px;
  transition: 0.4s;
}
.nav-list.active {
  visibility: initial;
  transition: 1s all ease;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    text-align: center;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #151515;
    flex-direction: column;
    padding-top: 96px;
    visibility: hidden;
  }
  header .grid-layout nav .nav-list li {
    opacity: 0;
    margin-bottom: 48px;
  }
  header .grid-layout nav .nav-list li a {
    font-size: 2.4rem;
  }
  .mobile-menu {
    display: block;
  }
}

/* Seção inicial */
#s-home {
  padding: 0px 50px;
  background-color: #111;
  position: relative;
}
@media screen and (max-width: 992px) {
  #s-home {
    padding: 100px 20px 0px 20px;
  }
}
#home {
  display: flex;
  align-items: center;
  min-height: 90vh;
  padding: 200px 0px;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 992px) {
  #home {
    padding: 0px;
  }
}
#home #home-container-text {
  width: 100%;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  #home #home-container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0px;
  }
}
#home #home-container-text h1 {
  color: #fff;
  max-width: 650px;
  line-height: 140%;
  font-size: 4rem;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  #home #home-container-text h1 {
    font-size: 3.2rem;
  }
}
#home #home-container-text h1 span {
  color: #5876ff;
}
#home #home-container-text p {
  color: #9ca3af;
  font-size: 2rem;
  max-width: 600px;
  margin: 40px 0px;
  font-weight: 300;
  line-height: 160%;
}
#home #home-container-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5876ff;
  color: #fff;
  backdrop-filter: blur(10px);
  padding: 20px 32px;
  max-width: 300px;
  border-radius: 4px;
  transition: all 0.4s ease;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}
#home #home-container-text a:hover {
  padding: 20px 45px;
  max-width: 325px;
}
#home #logo {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(0%, -50%);
}
@media screen and (max-width: 1200px) {
  #home #logo {
    display: none;
  }
}

/* Seção "quem sou eu" */
#about {
  padding: 72px 0px;
  background-color: #111;
}
@media screen and (max-width: 1200px) {
  #about {
    padding: 72px 20px;
  }
}
#about .grid-layout > div {
  background-color: #151515;
  border: 2px solid #1f1f1f;
  padding: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.whoami {
  display: block !important;
}
.whoami h4 {
  font-size: 3rem;
  font-weight: 500;
  color: #5876ff;
}
.whoami h2 {
  font-size: 4rem;
  font-weight: 500;
  margin: 16px 0px;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .whoami h2 {
    font-size: 3.2rem;
  }
}
.whoami h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 16px;
  color: #fff;
}
.whoami p {
  font-size: 1.8rem;
  color: #9ca3af;
  line-height: 160%;
  margin: 32px 0px 48px 0px;
}
.whoami nav ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 1200px) {
  .whoami nav ul {
    flex-wrap: wrap;
  }
}
.whoami nav ul a {
  background-color: #111;
  border: 2px solid #1f1f1f;
  border-radius: 6px;
  padding: 16px;
}
@media screen and (max-width: 1200px) {
  .whoami nav ul a img {
    width: 40px;
  }
}
.whoami nav ul a:hover {
  border-color: #5876ff;
}

/* Seção de formação/experiências */
#experience {
  background-color: #151515;
  color: #fff;
  padding: 96px 48px;
}
@media screen and (max-width: 992px) {
  #experience {
    padding: 48px 24px;
  }
}
#experience .grid-layout h2 {
  padding-bottom: 24px;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
}
#experience .grid-layout h2 span {
  color: #5876ff;
}
#experience .grid-layout #experience-content {
  margin-top: 32px;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1200px) {
  #experience .grid-layout #experience-content {
    flex-wrap: wrap;
  }
}
.option-experience {
  display: flex;
  width: 25%;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .option-experience {
    width: 100%;
  }
}
.option-experience .activeExperience {
  border-left: 4px solid #5876ff;
  color: #5876ff;
}
.option-experience .activeExperience h3 {
  font-weight: 600;
}
.option-experience > div {
  padding: 24px 32px;
  text-align: left;
  background-color: #111;
  border-left: 4px solid #111;
}
.option-experience > div:hover {
  cursor: pointer;
}
.option-experience > div h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.text-experience {
  width: 75%;
}
@media screen and (max-width: 1200px) {
  .text-experience {
    width: 100%;
  }
}
.text-experience > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .text-experience > div {
    flex-wrap: wrap;
    gap: 32px;
  }
}
.text-experience > div h4 {
  font-size: 2.4rem;
  font-weight: 400;
}
.text-experience > div p {
  font-size: 1.8rem;
  color: #9ca3af;
}
.text-experience h5 {
  font-size: 2rem;
  margin: 32px 0px;
  font-weight: 500;
  color: #5876ff;
}
.text-experience p {
  font-size: 2rem;
  line-height: 160%;
  color: #9ca3af;
  font-weight: 400;
}
.activeExperienceDescription {
  display: block !important;
}

/* Seção de portfólio/projetos */
#portfolio {
  padding: 96px 48px;
  text-align: center;
  background-color: #111;
}
@media screen and (max-width: 992px) {
  #portfolio {
    padding: 48px 24px;
  }
}
#portfolio .grid-layout h2 {
  padding-bottom: 24px;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
}
#portfolio .grid-layout h2 span {
  color: #5876ff;
}
#portfolio .grid-layout #projects {
  margin: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: left;
}
.manwhareader {
  border: 1px solid #d4ba25 !important;
}
.manwhareader:hover {
  border: 1px solid #d4ba25 !important;
}
#portfolio .grid-layout #projects > article {
  height: auto;
  padding: 32px;
  margin: 8px;
  flex-basis: calc(33% - 20px);
  flex-grow: 1;
  border: 1px solid #111;
  transition: 1s all ease;
  background-color: #151515;
  height: auto;
}
#portfolio .grid-layout #projects > article:hover {
  border: 1px solid #5876ff;
}
@media screen and (max-width: 1200px) {
  #portfolio .grid-layout #projects > article {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  #portfolio .grid-layout #projects > article {
    flex-basis: calc(100% - 20px);
  }
}
#portfolio .grid-layout #projects > article h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
}
#portfolio .grid-layout #projects > article p {
  line-height: 24px;
  margin: 24px 0px;
  color: #9ca3af;
  line-height: 3.2rem;
  font-size: 1.8rem;
}
#manwhareader {
  color: #d4ba25 !important;
}
#manwhareader::after {
  background: linear-gradient(270deg, #d4ba25 0%, #17161d 100%) !important;
}
#portfolio .grid-layout a {
  color: #5876ff;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
}
#portfolio .grid-layout a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -7px;
  left: 0;
  background: linear-gradient(270deg, #5876ff 0%, #17161d 100%);
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
#portfolio .grid-layout a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#portfolio .grid-layout a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -7px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
#portfolio .grid-layout a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Seção de contato */
#contact {
  padding: 96px 48px;
  background-color: #151515;
}
@media screen and (max-width: 992px) {
  #contact {
    padding: 48px 24px;
  }
}
#contact .grid-layout h2 {
  text-align: center;
  padding-bottom: 24px;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
}
#contact .grid-layout h2 span {
  color: #5876ff;
}
#contact-content {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  margin: 24px 0px;
}
#contact-content article {
  background-color: #111;
  height: auto;
  padding: 32px;
  margin: 8px;
  flex-basis: calc(33% - 20px);
  flex-grow: 1;
  border: 1px solid #111;
  transition: 1s all ease;
  border: 1px solid #1f1f1f;
  border-radius: 4px;
}
#contact-content article:hover {
  border: 1px solid #5876ff;
}
@media screen and (max-width: 1200px) {
  #contact-content article {
    flex-basis: calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  #contact-content article {
    flex-basis: calc(100% - 20px);
  }
}
#contact-content article div {
  height: 90px;
}
#contact-content article div img {
  width: 70px;
}
#contact-content article h3 {
  padding: 24px 0px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
}
#contact-content article p {
  line-height: 3.2rem;
  color: #9ca3af;
  font-size: 1.8rem;
}
.contact-form {
  display: inline-grid;
  color: #fff;
  margin: 0 auto 20px auto;
  font-size: 18px;
  width: 400px;
}
label {
  margin: 10px 0 0 0;
}
input[type="text"],
textarea {
  font-size: 16px;
  padding: 5px;
  background-color: #b8b9c2;
  border: 2px solid #000;
  border-radius: 5px;
}
#contact-form-send {
  margin-top: 10px;
  width: 60px;
  padding: 5px;
}
#contact-form-send:hover {
  cursor: pointer;
}

/* Rodapé */
footer {
  width: 100%;
  height: auto;
  background-color: #111;
  color: #fff;
  padding: 24px 0px;
}
footer .grid-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
footer p {
  font-size: 1.8rem;
}
footer p a {
  font-weight: 500;
  color: #5876ff;
}
footer img {
  width: 32px;
}
footer div {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 1200px) {
  footer .grid-layout {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
  }
  footer .grid-layout div {
    display: none;
  }
}
